<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:security="http://www.springframework.org/schema/security"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                 http://www.springframework.org/schema/security
                 http://www.springframework.org/schema/security/spring-security-3.1.xsd">
                 
    <security:http pattern="/public/**" security="none"/>          
	<security:http pattern="/auth/login.jsp*" security="none"/>
	<security:http pattern="/auth/register.jsp" security="none"/>
	<security:http pattern="/auth/addRegister" security="none"/>

	<security:http auto-config="true" access-denied-page="/auth/denied">
		<security:session-management invalid-session-url="/auth/login">
        </security:session-management>
		<security:form-login login-page="/auth/login" authentication-failure-url="/auth/login?error=1" default-target-url="/common/list"/>
		<security:intercept-url pattern="/auth/login" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:intercept-url pattern="/j_spring_security_check" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <security:logout logout-url="/auth/logout" logout-success-url="/auth/login"/>
        <security:intercept-url pattern="/validate/**" access="ROLE_ADMIN"/>
		<security:intercept-url pattern="/common/**" access="ROLE_USER"/>
		<security:intercept-url pattern="/book/**" access="ROLE_USER"/>
		<security:intercept-url pattern="/notice/**" access="ROLE_USER"/>
		<security:intercept-url pattern="/courseware/**" access="ROLE_USER"/>
		<security:intercept-url pattern="/special/**" access="ROLE_USER"/>
		<security:intercept-url pattern="/jsp/**" access="ROLE_USER"/>
	</security:http>
	
	<!-- 
	<security:authentication-manager>
		<security:authentication-provider>
			<security:user-service>
				<security:user name="yulong" password="123" authorities="ROLE_USER"/>
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>
	<bean id="customUserDetailsService" class="com.web.controller.auth.CustomUserDetailsService"/>
	-->
	
	
	<security:authentication-manager>
		<security:authentication-provider user-service-ref="customUserDetailsService">
        	<security:password-encoder ref="passwordEncoder"/>
		</security:authentication-provider>
    </security:authentication-manager>
	<bean class="com.web.controller.auth.PasswordEncoder" id="passwordEncoder"/>
 	<bean id="customUserDetailsService" class="com.web.controller.auth.CustomUserDetailsService"/>
 	
 	
</beans>